html {
	font-size: 62.5%;
	font-family: Georgia, times new roman, Times, serif;
	/* font-family: 'Playfair Display', sans-serif; */
	color: #000;
	-webkit-font-smoothing: antialiased
}
body {
	position: relative;
	z-index: 0;
	/* border: 8px solid #000; */
	margin: 0
}
h1, h2, h3, h4, h5, h6, li {
	font-weight: 700;
	margin: 0
}
h3, h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700
}
h1 {
	font-size: 3em;
	line-height: 1.5em;
	margin-bottom: 1em
}
h2, blockquote {
	font-size: 2.25em;
	line-height: 1.5em;
	margin-bottom: 1.5em
}
h3 {
	font-size: 1.65em;
	line-height: 1em;
	margin-bottom: 2em
}
h4 {
	font-size: 1.25em;
	line-height: 1.5em;
	margin-bottom: 1.5em;
	color: #ab2537fa;
	text-transform: uppercase
}
h5, li.list-item {
	font-size: 1.5em;
	line-height: 1em
}
bold {
	font-weight: 700
}
ol {
	font-size: 1.5em
}
ol li {
	margin-bottom: 1.5em;
	padding-bottom: 1em
}
li {
	margin-bottom: 1.5em;
	padding-bottom: 2em
}
p {
	font-size: 1.5em;
	line-height: 2em;
	margin-bottom: 1.5em
}
blockquote {
	text-align: center;
	margin: 0;
	margin-bottom: 2em;
	padding: 1em
}
blockquote p {
	font-size: 1.25em;
	line-height: 1.5em;
	margin-bottom: .5em
}
blockquote:before, blockquote:after {
	content: '';
	display: inline-block;
	text-align: center;
	width: 100px
}
blockquote:before {
	border-top: 1px solid #ab2537fa
}
blockquote:after {
	border-bottom: 1px solid #ab2537fa
}
img {
	display: block;
	width: 100%;
	height: 100%; 
	margin-bottom: 2em;
	background-color: #f0eeee;
}
.thumbnail {
	margin-bottom: 3em
}
.thumbnail:hover {
	opacity: .7
}
a {
	position: relative;
	z-index: 2;
	color: #000;
	text-decoration: none;
	margin-bottom: 1.25em;
	font-weight: 700;
	
}
a.yellow, .post a {
	text-decoration: underline
}
a.yellow:hover, .post a:hover {
	opacity: .75
}
a:hover .arrow-right {
	transform: translateX(5px);
	transition: all .25s ease;
	display: inline-block
}
a:hover .arrow-left {
	transform: translateX(-5px);
	transition: all .25s ease;
	display: inline-block
}
.border {
	border-top: 1px solid #f0eeee
}
.border-bottom {
	border-bottom: 1px solid #f0eeee
}
.yellow {
	color: #ab2537fa
}
.light-grey {
	color: #f0eeee
}
.space-bottom {
	margin-bottom: 4em
}
.spacer {
	padding-top: 3em;
	padding-bottom: 3em
}
ul.no-bullet {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-padding-start: 0
}
ul.no-bullet li {
	list-style: none
}
ul.no-bullet li:last-child {
	border-bottom: 0
}
.cta-button {
	border-radius: 5px;
	border: 1px solid #ab2537fa;
	padding: 1em 1.5em;
	display: inline-block;
	font-size: 1.5em;
	font-style: italic;
	margin: 0 1em;
	margin-bottom: 1em;
	min-width: 10em;
	transition: all .25s ease
}
.cta-button:hover {
	
	transform: scale(1.025);
	transition: all .25s ease;
	background-color: #ab2537fa;
	text-emphasis-color:#f0eeee;
}
.read-more {
	font-size: 1.5em;
	margin-bottom: 2em
}
.arrow-right, .arrow-left {
	display: inline-block;
	transition: all .25s ease
}
.arrow-right {
	padding-left: 10px
}
.arrow-left {
	padding-right: 10px
}
.outer-container {
    max-width: 1080px;
    max-height: 50em;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.outer-container::after {
	clear: both;
	content: '';
	display: table
}
.inner-container {
	max-width: 80em;
	z-index: 1;
	margin-left: auto;
	margin-right: auto
}
.inner-container::after {
	clear: both;
	content: '';
	display: table
}
.inner-container, .outer-container {
	padding-left: 2em;
	padding-right: 2em
}
.nav-container {
	padding-top: 4em;
	padding-bottom: 4em;
	display: flex;
	justify-content: space-between;
	align-items: center
}
.nav-right {
	display: flex;
	justify-content: flex-end;
	align-items: center
}
.nav-right li {
	margin-bottom: 0
}
.list-item {
	padding: 0;
	list-style: none;
	transition: transform .5s ease-in-out;
}
.list-item:not(:first-child) {
	margin-left: 2em
}
.list-item a {
	font-size: 1em;
	color: #000;
	text-decoration: none
}
.list-item a:hover {
	border-bottom: 2px solid #ab2537fa;
	opacity: 1
}
.site-logo {
	width: 32px;
	height: 32px;
	display: block;
	overflow: visible;
	border: 4px solid #000;
	background-color: #000;
	position: relative;
	transform: rotate(0deg);
	transition: transform .4s ease-in-out;
	flex-shrink: 0
}
@media(min-width:600px) {
	.site-logo {
		width: 50px;
		height: 50px;
		border: 5px solid #000
	}
	.content{
		padding-left:1em;
		padding-right: 1em;
	}
	.img{
		top: -70px !important;
	}
}
.site-logo .logo-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(0deg);
	transition: transform .4s ease-in-out;
	font-weight: 700;
	font-size: 13px
}
.site-logo:hover {
	opacity: 1;
	transform: rotate(-90deg);
	transition: transform .4s ease-in-out
}
.site-logo:hover .logo-text {
	transform: translate(-50%, -50%) rotate(90deg);
	transform-origin: center
}
.site-logo:hover #logo-stroke {
	transform: rotate(-90deg);
	transform-origin: center center;
	transition: transform .5s ease-in-out
}
.social-icon {
	display: none
}
.social-icon a:hover {
	color: #ab2537fa;
	border-bottom: 0
}
.mobile-nav {
	display: none;
	float: right
}
.dropdown-menu {
	display: none;
	text-align: left
}
.dropdown-menu li {
	list-style: none;
	font-size: 1.5em;
	margin-bottom: .5em;
	padding-left: 10px
}
.navigation-target {
	display: none
}
.mobile-menu-toggle {
	float: right
}
.navigation-toggle {
	width: 30px;
	height: 40px;
	display: block;
	position: relative;
	cursor: pointer;
	display: inline-block;
	margin-top: .85em
}
.navigation-toggle-label {
	font-weight: 700;
	font-size: 18px;
	color: #000;
	text-align: center;
	display: block;
	position: relative;
	text-transform: uppercase;
	left: -60px;
	bottom: 12px
}
.navigation-toggle-icon {
	border-bottom: 4px solid #000;
	padding-top: 12px;
	display: block
}
.navigation-toggle-icon:before, .navigation-toggle-icon:after {
	border-top: 4px solid #000;
	content: '';
	position: absolute;
	left: 0;
	right: 0
}
.navigation-toggle-icon:before {
	top: 2px
}
.navigation-toggle-icon:after {
	bottom: 14px
}
.navigation-toggle-icon, .navigation-toggle-icon:before, .navigation-toggle-icon:after {
	transition-property: transform, border-color;
	transition-duration: .25s;
	transition-timing-function: cubic-bezier(.5, -.5, .5, 1.5)
}
.navigation-toggle-icon {
	transition-delay: .125s
}
.navigation-toggle-icon:before, .navigation-toggle-icon:after {
	transition-delay: 0s;
	transform-origin: center
}
.navigation-target.clicked+.navigation-toggle .navigation-toggle-icon {
	transition-delay: 0s
}
.navigation-target.clicked+.navigation-toggle .navigation-toggle-icon:before, .navigation-target.clicked+.navigation-toggle .navigation-toggle-icon:after {
	transition-delay: .125s
}
.navigation-target.clicked+.navigation-toggle .navigation-toggle-icon:before {
	transform: translateY(10px) rotate(135deg)
}
.navigation-target.clicked+.navigation-toggle .navigation-toggle-icon {
	border-color: transparent
}
.navigation-target.clicked+.navigation-toggle .navigation-toggle-icon:after {
	transform: translateY(-10px) rotate(-135deg)
}
.hero {
	padding-top: 6em;
	padding-bottom: 6em
}
footer, .cta-section {
	text-align: center;
	padding-top: 3em;
	padding-bottom: 4em
}
.blog-list, .project-list {
	padding-top: 6em;
	padding-bottom: 1em
}
.project-list li {
	padding-top: 3em;
	padding-bottom: 1em
}
.post-list li a {
	text-decoration: none
}
.blog-list li {
	padding-top: 2em;
	padding-bottom: 3em
}
.blog-body {
	padding-top: 6em;
	padding-bottom: 3em
}
.blog-body li {
	font-size: 1.5em
}
.card {
	position: relative;
	z-index: 2;
	margin-bottom: 3em
}
.card:hover .overlay-button {
	opacity: 1;
	position: relative;
	z-index: 2;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}
.overlay {
	opacity: 0;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	transition: all .25s ease
}
.card:hover .overlay {
	opacity: .8
}
.card img {
	margin: 0 auto;
	max-width: 100%
}
.card .overlay-button {
	opacity: 0;
	color: #fff;
	text-align: center;
	position: absolute;
	top: 48%;
	left: 48%;
	-webkit-transform: translate(-50%, -10%);
	-moz-transform: translate(-50%, -10%);
	-ms-transform: translate(-50%, -10%);
	-o-transform: translate(-50%, -10%);
	transform: translate(-50%, -10%);
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	transition: all .25s ease;
	z-index: 3
}
.card .overlay {
	opacity: 0;
	position: absolute;
	background-color: rgb(53, 50, 50);
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.footer-social-icons {
	width: 200px;
    display:block;
	margin: 0 auto;
	color: #000;
}
.social-icon {
    color: #000;
}
ul.social-icons {
	margin-top: 10px;
	display: flex;
	justify-content: space-evenly;
	padding-inline-start: 0px;

}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #000000;
    text-decoration: none;
}
